/* set all html elements with border-box sizing */

* {
  box-sizing: border-box;
}

/* General Styles */

header {
  background-color: black;
  text-align: center;
  text-color: bisque;
}

main {
  font-family: Arial, Helvitica, sans-serif;
  /* background-color:  #775f47; */
  background-color: bisque;
  text-align: center;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-size: 65px;
  text-emphasis: wrap;
}

main h2 h4 {
  margin: 18px 0 12px 0;
  font-size: 24px;
  text-align: center;
}

main h3 {
  font-size: 30px;
}

main p {
  margin-top: 0;
}

footer img {
  width: 2px;
}

.bg-primary {
  background-color: #775f47; 
}

/* Groups and Items - Mobile First */


.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin: auto;
  border: 2px solid;
  background-color: bisque;
}

.group img {
  width: 100%;
  border-radius: 5%
}

.item {
  flex: 1;
  margin: 10px;
  border-radius: 5%;
}

.item-double {
  flex: 2;
}



/*  Groups and Items on Desktop  */

@media all and (min-width: 800px) {
  section {
    padding: 0 2%;
  }
  .group {
    flex-direction: row;
  }
}

